{% extends 'base.html' %}

{% block head %}

<title>Corona Archive Homepage</title>

{% endblock %}



{% block body %}

<div class="cont cont-home">
    <div class="select">
        <h2>Choose User Type</h2><br>
        <a href="visitorregistration" class="nav-item">Visitor</a>
        <a href="placeregistration" class="nav-item">Place Owner</a>
        <a href="agentlogin" class="nav-item">Agent</a>
        <a href="hospitallogin" class="nav-item">Hospital</a>
    </div>
</div>

{% endblock %}