attrs==21.4.0
bcrypt==3.2.0
cffi==1.15.0
click==8.0.4
Flask==2.0.3
Flask-Bcrypt==0.7.1
Flask-MySQLdb==1.0.1
Flask-Selfdoc==1.2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.1.1
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.1.0
mysql==0.0.3
mysqlclient==2.1.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.0.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.7
pytest==7.1.1
PyYAML==6.0
qrcode==7.3.1
six==1.16.0
SQLAlchemy==1.4.32
tomli==2.0.1
Werkzeug==2.0.3
