{% extends 'base.html' %}

{% block content %}

<h1 class="registration-title">{% block title %} Hospital Registration {% endblock %}</h1>


<form id = "registration" action="{{ url_for('hospitalSignin') }}" method="post">
        <input type="text" class="visitor-registration" placeholder="Username" name="username" value="{{request.form.username }}" required> <br>        
        <input type="password" class="visitor-registration" placeholder="Password" name="password" value="{{request.form.password }}" required> <br>
        <input class="mainButton" type="submit" value="LOGIN"><br>
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}




{% endblock %}
