{% extends 'base.html' %}

{% block content %}
    <p>This website is student lab work and does not necessarily reflect Jacobs University Bremen opinions. Jacobs University Bremen does not endorse this site, nor is it checked by Jacobs University Bremen regularly, nor is it part of the official Jacobs University Bremen web presence.</p>
    <p>For each external link existing on this website, we initially have checked that the target page does not contain contents which is illegal wrt. German jurisdiction. However, as we have no influence on such contents, this may change without our notice. Therefore we deny any responsibility for the websites referenced through our external links from here. No information conflicting with GDPR is stored in the server.</p>
    
    
    <h2>Contact:</h2> <br>
    <h3>Sprint 1</h3>
        <ul>
            <li>Diego Zablah: d.zablah'at'jacobs-university.de</li>
            <li>Volen Terziev: v.terziev'at'jacobs-university.de</li>
        </ul>
{% endblock %}
