#mainNav {
  background-color: #1893f8;
}

header.htop {
  position: relative;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  min-height: auto;
  background-image: url("Pictures/D NATE.png");
  background-size: cover;
  color: white;
  font-size: 1em;
  padding: 3em;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #1893f8;
  color: white;
}


footer {
  position: relative;
  text-align: justify;
  bottom: 0px;
  width: 100%;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  background-color: #003bba;
  /* Blue */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  font-size: 12px;
  font-family: 'Verdana';
  right: -1150px;
  position: relative;
}

.nav-item{
  width: 100px;
}


.no-underline{
text-decoration: "none";
}

#volenteer-title{
text-align: justify;
}

table{
border-collapse: collapse;
width: 90%
}


table, th, td{
border: 1px solid black;
text-align: left;
}

.search-bar{
position: absolute;
right: 27%;
top: 26%;
padding: 0px 20px;
width: 200px;
height: 30px;
font-size: 22px;
}

.search-button{
position: absolute;
right: 22%;
top: 27%;
width: 70px;
height: 30px;
font-size: 15px;
}

.submit {
background-color: #2b2a2a;
border-radius: 3px;
color: #fff;
font-family: 'Verdana';
font-size: 13px;
text-decoration: none;
border: none;
height: 38px;
width: 70px;
}

.submit:hover {
border: none;
background: orange;
box-shadow: 0px 0px 1px #777;
}

#signUp_button{
position: absolute;
right: 15%;
top: 25%
}

#login_button{
position: absolute;
right: 11%;
top: 25%
}

label{

  font-size: 18px;
  font-family: 'Verdana';
  font-weight: 700;
  color: red;

}

body{
  background-color: #444444;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23edf0ff' fill-opacity='0.14' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

input::placeholder {

  color: black;
  font-size: 0.60em;

}

.container{
  width: 100%;
  padding: 10px;
  background: #ddd;
  margin: 10px auto;

}

.box{

  width: 95%;
  height: 100%;
  margin: 0px 10px;
  transition: 1s;
  opacity: 80%;
  border-radius: 0%;
}

.box:hover{
  transform:scale(1.3);
  border-radius: 100%;
  opacity: 100%;
  
}