{% extends 'base.html' %}

{% block title %}
	<title>Add</title>

{% endblock %}


{% block body %}

	

		<form>
			<input style="border: none;	border-radius: 4px; position: fixed; top: 90px; left: 1px;
			font-weight: bold; color: white; background-color: rgba(255, 0, 0, 0.7); padding: 5px 10px;  
			text-align: center;	font-size: 20px; font-family: Century Gothic; cursor: pointer;" 
			type="button" value="&#8592 Go Back" onclick="history.back()">
		</form>
	
	

	<center>
	
		
		<div class="addHospital">
			<form action="{{url_for('agentaddHospital')}}", method = "POST">
				<label for="username">Username:</label><br>
				<input type="text" id="username" name="username"><br>
				<label for="password">Password:</label><br>
				<input type="password" id="password" name="password"><br>
				<label for="hosp_name">hospital_name:</label><br>
				<input type="text" id="place_name" name="hosp_name"><br> 
				<input type="submit" value="Submit"> <br><br>
			</form>

		</div>

		
		
	</center>
	
{% endblock %}