{% extends 'base.html' %} {% block head %}
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"
></script>

{% endblock %} {% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<link
  href="https://nightly.datatables.net/css/jquery.dataTables.css"
  rel="stylesheet"
/>

<div id="HASH">
<span class="agentDash">Hospital Dashboard</span>
<form>
    <input style="border: none;	border-radius: 4px;top: 90px; left: 1px;
    font-weight: bold; color: white; background-color: rgba(255, 0, 0, 0.7); padding: 5px 10px;  
    text-align: center;	font-size: 20px; font-family: Century Gothic;" 
    type="button" value="Logout" onclick="location.href = '{{url_for('logout')}}'">
</form>
</div>


<h2 style="background-color: white;text-decoration:underline;padding-top: 50px;text-align: center;">Visitor List</h2>
<div class="container">
  <table id="visitors" class="display nowrap" width="80%">
    <thead>
      <tr>
        <th>Citizen ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Device ID</th>
		<th>Infected</th>
		<th>Select</th>
      </tr>
    </thead>

    <tbody></tbody>
  </table>

  
  <script>
    $(document).ready(function () {
		
		var response = JSON.parse('{{array|tojson|safe}}');
   
      function getSelectOptions(value) {
        var select = $(
          "<select><option value='0'>Select</option><option value='1'>Infected</option><option value='2'>Not Infected</option>"
        );
        if (value) {
          select.val(value).find(":selected").attr("selected", true);
        }
        return select.html();
      }

      var table = $('#visitors').DataTable({
        data: response,
        "columnDefs": [{
            "targets": -1,
            "render": function(data, type, row, meta) {
            return "<select class='mySelect' data-col='" + meta.col + "'>" +
                  getSelectOptions(data) + "</select>";
            }
        }],
    });

      $("#example").on("change", "select.mySelect", function () {
        var colIndex = +$(this).data("col");
        var row = $(this).closest("tr")[0];
        var data = table.row(row).data();
        data[colIndex] = this.value;
        data[colIndex - 1] = $(this).find(":selected").text();
        table.row(row).data(data).draw();
      });
    });
  </script>

  
</div>
{% endblock %}
