{% extends 'base.html' %}

{% block title%}
<title>Register place</title>
{% endblock %}

{% block header %}

{% endblock %}

{%block body%} 
<input style="border: none;	border-radius: 4px; position: fixed; top: 90px; left: 1px;
		font-weight: bold; color: white; background-color: rgba(255, 0, 0, 0.7); padding: 5px 10px;  
		text-align: center;	font-size: 20px; font-family: Century Gothic; cursor: pointer;" 
		type="button" value="&#8592 Go Back" onclick="history.back()">
<div style='display: grid;place-items: center;margin-top: 30vh;text-align:center;background:rgb(255,255,255)'><h3>
    You have been added to Record. Use your citizen ID to scan</h3>
    <p>Go to <a href='/loginVisitor'>Login visitor</a></div>   
{% endblock %}